# IDE and Gradle things
build
.gradle
run
.idea

# Server things
/basiclandmc-server/build.gradle.kts
/basiclandmc-server/src/minecraft
/paper-server
/purpur-server
/basiclandmc-api/build.gradle.kts
/paper-api
/purpur-api
*.jar
changelog.md